
.head-bg-sjh{
	background: #ffffff;
    position: relative;
    padding: 10px;
}

font-sjh{
	color: #298478;
}

.font-sjh h1{
	color: #298478;
}

.bgcolor-sjh {
  background: #298478;
}

.bgcolor-salmon-sjh{
	background: #ff7f7f;
	color:#ffffff;
}

.btn.color-white-sjh {
    background: #ffffff;
    border: 1px solid #298478;
    color: #298478;
    
}

.orange-font{
	color:orange
}
