a.ask-follow {
	color: #FFF !important;
	background: #298478;
	border-radius: 2px;
	line-height: 30px;
	font-size: 10px;
	position: relative;
	width: 100%;
	display: block;
	padding: 5px 5px 5px 30px;
	margin-bottom: 25px !important;
	cursor: pointer;
	color: #8ba1dd;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	/*  left: 13px; */
	font-size: 12px;
}

a.ask-follow i {
	color: #8ba1dd;
}

.following-user-info {
	position: relative;
	padding: 10px 30px;
	border: 1px solid #edeff2;
    border-radius: 20px;
	margin-bottom: 5px;
	display: block;
	background-color: #E6E6E6;
	color:#298478;
	font-weight: bold;
	text-align: center;
}

.following-user-info:hover{
	background-color: #F5DA81;
}

.feed-article-title {
	font-size: 24px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: 0px;
	position: relative;
	display: block;
	/* font-size: 13px; */
	/* line-height: 20px; */
	font-family: 'Conv_helveticaneuecyr-bold';
	color: #262626;
	border-bottom: 1px solid #edeff2;
	margin: 0 15px 10px 15px;
	cursor: pointer;
	min-height: 52px;
	/*   padding-bottom: 11px; */
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-menu-bar {
	/* padding: 5px 5px; */
	border: 1px solid #edeff2;
	border-radius: 2px;
	margin-bottom: 20px;
}

.article-menu {
	padding: 10px 10px;
	background-color: #298478;
	margin-left: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	text-align:center;
}

.article-menu:hover {
	background-color: #F5DA81;
	color:#298478;
}

.article-menu.active {
	background-color: orange;
	color:#298478;
}

.btn-sjh {
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	user-select: none;
	
	font-size: 10px;
    line-height: 10px;
    padding: 12px 19px 10px 19px;
    
    background: #298478;
    border: 1px solid #298478;
}

.comment-delete-btn{
	cursor: pointer;
}

.search-user-follow-btn{
		color: #FFF !important;
	background: #298478;
	border-radius: 2px;
	line-height: 30px;
	font-size: 10px;
	position: relative;
	width: 100%;
	display: block;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	color: #8ba1dd;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	font-size: 16px;
	
    line-height: 1.3333;
    margin: unset;
/*    margin-left: 10px;*/
}

.font-larger span, .font-larger .fa{
	font-size:13pt;
}

.folded-comments{
	background-color:#F2F2F2;
	padding: 15px 70px;
	margin-bottom:0px;
	margin-bottom: 0px;
    border: 1px solid #edeff2;
    border-radius: 2px;
    
}

.orange-font{
	color:orange
}

.following-photo{
	width:20px;
	height:20px;
	border-radius: 50%;
}

 .my-btn {
  font-size: 13px;
  line-height: 1.3333;
  margin: unset;
  color:#298478;
 /*  margin-left: 10px; */
}

a.filter:hover{
	background-color:#ffa500;
	color:#298478;
	font-weight: bold;
}

.empty-alert{
	color:#298478;
	text-align:center;
	padding-top: 10px;
    padding-bottom: 10px;
}

.feeds-smaller-title{
	background: #298478;
    color: white;
    line-height: 27px;
}

.info-block-sjh{
	text-align: center;
	font-size: 12pt;
	   
}