a.ask-follow{
	color: #FFF !important;
    background: #0d58c8;
    border-radius: 2px;
    line-height: 30px;
    font-size: 10px;
    position: relative;
    width: 100%;
    display: block;
    padding: 5px 5px 5px 30px;
    margin-bottom: 25px !important;
    cursor:pointer;
    color: #8ba1dd;
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
   /*  left: 13px; */
    font-size: 12px;
}

a.ask-follow i {
    color: #8ba1dd;
}