/* ul.categories li{
 	line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    color: black;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 14px;
    font-weight: 700;
    width : 30%;
    background-color: #F6CEE3;
    border-radius: 3px;
    margin: 2px;
 } */

.focus-1 {
   border: 1px solid #edeff2;
   margin: -1px;
}

ul.categories {
   overflow: hidden;
   border: 1px solid #edeff2;
   margin: -1px;
}

ul.categories li.selected {
   color: #FFF;
   background-color: #FE2E9A;
}

.square {
   line-height: 160px;
   font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
   transition: all 0.4s ease;
   font-weight: 700;
   background-color: #F6CEE3;
   border-radius: 3px;
   height: 160px;
   position: relative;
   overflow: hidden;
   float: left;
   width: 160px;
   border: 1px solid #ebebeb;
   text-align: center;
   font-size: large;
   color: black;
   margin: 12px;
   padding: unset;
}

.square:hover {
   cursor: pointer;
}