<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
  <style>
    .dropzone {
      border: 2px dotted #3292A2;
      width: 40rem;
      height: 20rem;
      line-height: 20rem;
      color: #92AAB0;
      text-align: center;
      font-size: 24px;
      margin: 10px auto;
      vertical-align: middle;
    }

    .dropzone.drag-on {
      border: 2px solid #5272A0;
      background-color: gainsboro;
    }

    img.preview {
      width: 20%;
      height: auto;
    }

    .caption p {
      word-break: break-all;
    }
  </style>

  <div id="filesUpload" class="dropzone">Drag & Drop Files Here</div>
  <div class="row upload-image-preview"></div>
  <div class="row text-center">
    <button id="upload" class="btn btn-defualt">Upload</button>
    <button id="cancel" class="btn btn-defualt">Cancel</button>
  </div>

<div class="modal fade image-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img class="img-responsive upload-image">
    </div>
  </div>
</div>

  <script>
    let fileCnt = 0;
    let fileList = [];
    let totalFileSize = 0;
    const fileRegex = new RegExp('(.*?)\.(jpg|jpeg|png|gif)$');
    const maxUploadSize = 524280; // 5MB

    $(function () {
      $(document).on({
        dragover: function (e) {
          e.preventDefault();
          return false;
        },
        drop: function (e) {
          e.preventDefault();
          return false;
        }
      });

      const dropzone = $("#filesUpload");
      dropzone.on({
        dragenter: function (e) {
          console.log('dragenter');
          e.stopPropagation();
          e.preventDefault();
          $(this).toggleClass('drag-on');
          return false;
        },
        dragleave: function (e) {
          console.log('dragleave');
          e.stopPropagation();
          e.preventDefault();
          $(this).toggleClass('drag-on');
          return false;
        },
        dragover: function (e) {
          console.log('dragover');
          e.stopPropagation();
          e.preventDefault();
          return false;
        },
        drop: function (e) {
          console.log('drop');
          e.preventDefault();
          $(this).toggleClass('drag-on');

          var files = e.originalEvent.dataTransfer.files;
          if (files.length < 1) {
            return;
          }
          uploadFiles(files);
          // F_FileMultiUpload(files, obj);
          return false;
        }
      });

      $('.upload-image-preview').on('click', '.close', function (e) {
        const fileNameT = $(this).next().val();
        const fileSizeT = $(this).next().next().val();
        fileList.some((file, index) => {
          if (file.name === fileNameT && file.size == fileSizeT) {
            fileList.splice(index, 1);
            fileCnt -= 1;
            totalFileSize -= file.size;
            $(this).closest('.col-md-3').remove();
            return true;
          }
          return false;
        })
      });

      $('#cancel').on('click', function () {
        fileList = [];
        fileCnt = 0;
        totalFileSize = 0;
        $('.upload-image-preview').html('');
      });

      $('.upload-image-preview').on('click', '.thumbnail-image', function() {
        $('.image-modal').find('.upload-image').attr('src', $(this).attr('src'));
        $('.image-modal').modal('show');
      })
    });

    function makePreview(file) {
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const img = `<div class="col-xs-3 col-md-3"><div class="thumbnail">
          <img class="img-responsive thumbnail-image" src="${e.target.result}" />
          <div class="caption">
          <p>file name : ${file.name}</p>
          <p>file size : ${file.size}</p>
          <p><span class="invisible">.</span>
          <button type="button" class="close">삭제</button>
          <input type="hidden" name="fileName" value="${file.name}">
          <input type="hidden" name="fileSize" value="${file.size}">
          </p></div></div></div>`;
          $('.upload-image-preview').append(img);
        }
        reader.readAsDataURL(file);
      }
    }

    function checkUploadFile(fileName, fileSize) {
      if (!fileRegex.test(fileName)) {
        alert('해당 종류의 파일은 업로드 할 수 없습니다.');
        return false;
      }
      if (fileSize > maxUploadSize) {
        alert("용량 초과\n업로드 가능 용량 : " + maxUploadSize + " MB");
        return false;
      }
      return true;
    }

    function uploadFiles(fileObject) {
      let files = fileObject;

      if (files) {
        for (let i = 0; i < files.length; i += 1) {
          const fileName = files[i].name;
          const fileSize = files[i].size;

          if (!checkUploadFile(fileName, fileSize)) {
          } else {
            totalFileSize += fileSize;
            fileList[fileCnt] = files[i];
            fileCnt += 1;

            // Preview image 생성
            makePreview(files[i]);
          }
        }
      } else {
        alert("등록하고자 하는 파일이 없습니다.");
      }
    }

    $('#upload').on('click', function (event) {
      if (fileList.length <= 0) {
        alert('업로드할 파일이 없습니다.');
      } else {
        var formData = new FormData();
        for (let i = 0; i < fileList.length; i += 1) {
          const file = fileList[i];
          formData.append('uploadFile', file);
        }

        $.ajax({
          url: '/spring/upload/uploadAjaxAction',
          processData: false,
          contentType: false,
          data: formData,
          type: 'post',
          success: function (result) {
            alert("uploaded");
          }
        });
      }
    })

  </script>

</body>

</html>