<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.kosta.salmon.mapper.AccountBookMapper">

        <resultMap type="kr.or.kosta.salmon.domain.AccountBookDTO" id="AccountBookMap">
                <result property="articleId" column="article_id"/>
                <result property="ctgryName" column="ctgry_name"/>
                <result property="articleScope" column="article_scope"/>
                <result property="articleRegdate" column="article_regdate"/>
                <result property="articlePaymentType" column="article_payment_type"/>
                <result property="articlePaymentFee" column="article_payment_fee"/>
                <result property="articleContent" column="article_content"/>
                <result property="articleCtgryType" column="article_ctgry_type"/>
                <collection property="imagePaths" column="article_id" javaType="java.util.ArrayList" ofType="string" select="getImages"/>
        </resultMap>

        <select id="getAccountBooks" resultMap="AccountBookMap">
SELECT article_id,
       ctgry_name,
       article_scope,
       to_char(article_regdate,'YYYY-MM-DD') "article_regdate",
       article_payment_type,
       article_payment_fee,
       article_content,
        article_ctgry_type
FROM   articles 
        join ctgry_values USING(article_id) 
        join ctgries USING(ctgry_id)
        join article_ctgries using(article_ctgry_id)
WHERE  user_id = #{userId} 
       AND To_char(article_regdate, 'YYYY-MM') = #{year}||'-'||#{month} 
       AND article_ctgry_type IN ('지출','수입')
ORDER BY article_regdate
        </select>

        <select id="getImages" resultType="string">
SELECT image_path
FROM images where article_id = #{article_id}
        </select>

        <select id="getAccountBookByArticleId" resultMap="AccountBookMap">
SELECT article_id,
       ctgry_name,
       article_scope,
       to_char(article_regdate,'YYYY-MM-DD') "article_regdate",
       article_payment_type,
       article_payment_fee,
       article_content,
        article_ctgry_type
FROM   articles 
        join ctgry_values USING(article_id) 
        join ctgries USING(ctgry_id)
        join article_ctgries using(article_ctgry_id)
WHERE  article_id = #{articleId} 
        AND user_id = #{userId} 
        </select>

</mapper>