<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="kr.or.kosta.salmon.mapper.MainMapper">
	
	<!-- 1:N ResultMap 설정 -->
	<resultMap type="kr.or.kosta.salmon.domain.MainArticleDTO" id="articleMap">
		<id property="article_id" column="article_id"/>
		<result property="article_id" column="article_id"/>
		<result property="article_ctgry_id" column="article_ctgry_id"/>
		<result property="article_scope" column="article_scope"/>
		<result property="article_regdate" column="article_regdate"/>
		<result property="article_editdate" column="article_editdate"/>
		<result property="article_payment_type" column="article_payment_type"/>
		<result property="article_payment_fee" column="article_payment_fee"/>
		<result property="article_title" column="article_title"/>
		<result property="article_content" column="article_content"/>
		<result property="article_proposal_status" column="article_proposal_status"/>
		<result property="group_id" column="group_id"/>
		<result property="user_id" column="user_id"/>
		<result property="article_deleted" column="article_deleted"/>
		<collection property="imagePaths" column="article_id" javaType="java.util.ArrayList" ofType="string" select="getImages"/>
        <collection property="hashtags" column="article_id" javaType="java.util.ArrayList" ofType="string" select="getHashtagByArticleId"/>
	</resultMap>
	<resultMap type="kr.or.kosta.salmon.domain.MainChartDTO" id="ChartMap">
		<result property="totalFee" column="totalFee"/>
	</resultMap>
	

	  <select id="getListSprint1" resultMap="articleMap">
		SELECT article_id,
		       article_ctgry_id,
		       article_scope,
		       to_char(article_regdate,'YYYY"년" MM"월" DD"일" AM hh:mm') "article_regdate",
		       article_editdate,
		       article_payment_type,
		       article_payment_fee,
		       article_title,
		       article_content,
		       article_proposal_status,
		       group_id,
		       user_id,
		       article_deleted
		FROM   articles
		WHERE  article_scope in ('u','g') and 
			   user_id in (#{user_id},
			   				(SELECT 	fol.follower_user_id user_id 
			   				 FROM 		users us inner join followers fol on us.user_id = fol.user_id
			   				 WHERE 		us.user_id=#{user_id}),
			   				(SELECT 	user_id
			   				 FROM 		group_users 
			   				 WHERE 		group_id in (
			   				 						 SELECT 	group_id
			   				 						 FROM	 	users us inner join group_users gus on us.user_id = gus.user_id 
			   				 						 WHERE		us.user_id=#{user_id})))
        </select>
        
	 	<select id="getImages" resultType="string">
		SELECT image_path
		FROM images where article_id = #{article_id}
        </select>
		
		
		<select id="getHashtagByArticleId" resultType="string">
		SELECT hashtag_value 
		FROM   hashtag_refs ref
		       inner join hashtags hash on ref.hashtag_id=hash.hashtag_id 
		WHERE  article_id = #{articleId}        
        </select>
        
        <select id="getHashTagGroup" resultType="kr.or.kosta.salmon.domain.HashTagGroupDTO">
        <![CDATA[
        SELECT Count(hashtag_id) count_hashtag_value, 
		       hashtag_value 
		FROM   hashtags 
		       join hashtag_refs USING(hashtag_id) 
		WHERE  article_id IN(SELECT article_id 
		                     FROM   articles 
		                     WHERE  article_scope IN ( 'u', 'g' ) 
		                            AND user_id IN ( #{user_id} ) 
		                             OR user_id IN (SELECT fol.user_id user_id 
		                                            FROM   users us 
		                                                   inner join followers fol 
		                                                           ON us.user_id = 
		fol.follower_user_id 
		WHERE  us.user_id = #{user_id}) 
		OR user_id IN ((SELECT user_id 
		FROM   group_users 
		WHERE  group_id IN (SELECT group_id 
		   FROM   users us 
		inner join group_users gus 
		ON us.user_id = 
		 gus.user_id 
		   WHERE 
		us.user_id = #{user_id})))) 
		GROUP  BY hashtag_value 
		ORDER  BY count_hashtag_value DESC
		]]>
        </select>
        
        <select id="getChartTotalIncomeFee" resultMap="ChartMap">
        	SELECT 	sum(article_payment_fee) totalFee
        	FROM 	articles 
        	WHERE 	to_char(article_regdate,'MM') = to_char(sysdate,'MM') and article_ctgry_id=1 and user_id = #{user_id}
        </select>
        
        <select id="getChartTotalSpendFee" resultMap="ChartMap">
        	SELECT 	sum(article_payment_fee) totalFee
        	FROM 	articles 
        	WHERE 	to_char(article_regdate,'MM') = to_char(sysdate,'MM') and article_ctgry_id=2 and user_id = #{user_id}
        </select>
        
        <select id="getChartCategoryIncomeFee" resultType="kr.or.kosta.salmon.domain.MainGroupCtFeeDTO">
        	SELECT 		ctgry_name, sum(article_payment_fee) ctgry_fee_sum 
        	FROM 		ctgry_values join articles using(article_id) join ctgries using(ctgry_id) where ctgry_id in (select ctgry_id from ctgry_values join ctgries using(ctgry_id) 
        	WHERE 		article_id in (
        								SELECT 	article_id 
        								FROM 	articles 
        								WHERE	to_char(article_regdate,'MM') = to_char(sysdate,'MM') and user_id = #{user_id} AND  article_ctgry_id=1 ))
        	GROUP BY	ctgry_name
        </select>
        
         <select id="getChartCategorySpendFee" resultType="kr.or.kosta.salmon.domain.MainGroupCtFeeDTO">
        	SELECT 		ctgry_name, sum(article_payment_fee) ctgry_fee_sum 
        	FROM 		ctgry_values join articles using(article_id) join ctgries using(ctgry_id) where ctgry_id in (select ctgry_id from ctgry_values join ctgries using(ctgry_id) 
        	WHERE 		article_id in (
        								SELECT 	article_id 
        								FROM 	articles 
        								WHERE	to_char(article_regdate,'MM') = to_char(sysdate,'MM') and user_id = #{user_id} AND  article_ctgry_id=2)) 
        	GROUP BY	ctgry_name
        </select>
	
</mapper>