.custom-column-3 {
  width: 33.106359%;
  padding: 0 15px;
  display: inline-block;
}

.custom-column-3:nth-child(3n+1) {
  clear: both;
}

@media screen and (max-width: 992px) {
  .custom-column-3 {
    width: 49.7%;
  }

  .custom-column-3:nth-child(2n+1) {
    clear: both;
  }
}

@media screen and (max-width: 600px) {
  .custom-column-3 {
    width: 100%;
  }

  .custom-column-3 {
    clear: both;
  }
}


/*============== calendar setting =============*/
#calendar {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
}

#calendar tbody {
  border: inherit;
}

#calendar tr {
  height: 100px;
}

#calendar td {
  vertical-align: top;
  padding: unset;
}

#calendar thead tr {
  background-color: silver;
  height: 70px;
}

#calendar>thead>tr>th {
  border-color: silver;
}

#calendar>tbody>tr td:hover {
  background-color: #ededed;
}

.calendar-day {
  font-size: 21px;
}

.calendar-date {
  text-align: left;
  font-size: 20px;
  padding-left: 8px;
}

.calendar-spend .ggv .ggv-title {
  background: gainsboro;
  padding: 3px 4px;
}

.calendar-spend .ggv .ggv-content {
  background: #B64926;
  padding: 3px 4px;
}

.calendar-income .ggv .ggv-title {
  background: gainsboro;
  padding: 3px 4px;
}

.calendar-income .ggv .ggv-content {
  background: #468966;
  padding: 3px 4px;
}

.calendar-head .calendar.month {
  font-size: 60px;
  font-weight: 600;
}

.calendar-head .calendar.year {
  font-size: 20px;
  padding-left: 10px;
}

.calendar-body ul {
  padding: 3px;
}

.ggv-image {
  height: 400px!important;
  width: auto!important;
}

.ggv-image .ggv-carousel {
  display: inline-grid;
}

.ggv-carousel .owl-nav {
  height: 0px;
  visibility: hidden;
}

.ggv-carousel .owl-nav .owl-prev,
.ggv-carousel .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  visibility: visible;
  font-size: 50px !important;
}

.ggv-carousel .owl-nav .owl-prev:hover,
.ggv-carousel .owl-nav .owl-next:hover {
  background-color: transparent;
}

.ggv-carousel .owl-nav .owl-prev {
  float: left;
}

.ggv-carousel .owl-nav .owl-next {
  float: right;
}

.ggv-header {
  padding: 6px 15px;
}



.ggv-content {
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
  margin: unset;
}

.ggv-modal-content {
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
  margin: unset;
  border: none;
  position: relative;
  top: -60px;
}

.ggv-content-left {
  background-color: #acacac;
  border-radius: 20px;
}

.ggv-content-right {
  background-color: #ededed;
  border-radius: 0px 20px 20px 0px;
}

.ggv-col-6 {
  width: 48%;
  display: inline-flex;
  margin: 5px;
  padding: unset;
  border: none;
  float: left;
  background-color: #ededed;
  border-radius: 30px;
  font-size: 20px;
}

.ggv-col-12 {
  width: 100%;
  margin: 20px 0px;
  padding: 10px 20px;
  border: none;
  float: left;
  background-color: #ededed;
  border-radius: 20px;
}

.text-gray {
  color: #acacac;
}

.text-red {
  color: #ce2b2b9c;
}

.text-blue {
  color: #0000ff73;
}

.bg-salmon {
  background-color: #FA7784;
}

.bg-lightgray {
  background-color: #ededed;
}

.ggv-scope {
  float: right;
}

.datepic {
  width: 0px;
}